.component-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacer * 1.5;
  height: $spacer * 3;

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  span {
    @extend .heading-font;
    color: $gray-600;
  }

  @media (max-width: breakpoint-max('sm')) {
    height: $spacer * 2;

    h1 {
      font-size: 1.125rem;
    }

    span {
      font-size: 0.875rem;
    }
  }
}

.ad-component {
  .card-body {
    position: relative;
  }

  .card-img {
    flex-shrink: 0;
    object-fit: cover;
  }

  .card-title {
    padding-right: $spacer * 3;
  }

  .subheading-font {
    line-height: 1em;
  }

  .favorite-btn-component {
    position: absolute;
    top: $spacer * 1.5;
    right: $spacer;
  }

  // Desktop
  @media (min-width: breakpoint-min('sm')) {
    flex-direction: row;
    min-height: 180px;

    .card-img {
      width: 212px;
      min-height: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .card-title {
      margin-bottom: $spacer;
      font-size: 1.875rem;
    }

    .subheading-font {
      font-size: 1.5rem;
    }
  }

  // Mobile
  @media (max-width: breakpoint-max('sm')) {
    .card-img {
      height: 140px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .card-title {
      font-size: 1.5rem;
    }

    .subheading-font {
      font-size: 1rem;
    }
  }
}

.favorite-btn-component {
  padding: 0;
  width: $spacer * 2;
  height: $spacer * 2;
  border: 0;
  line-height: 0;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}