.component-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacer * 1.5;
  height: $spacer * 3;

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  span {
    @extend .heading-font;
    color: $gray-600;
  }

  @media (max-width: breakpoint-max('sm')) {
    height: $spacer * 2;

    h1 {
      font-size: 1.125rem;
    }

    span {
      font-size: 0.875rem;
    }
  }
}

.ad-component {
  .card-body {
    position: relative;
  }

  @media (min-width: breakpoint-min('md')) {
    flex-direction: row;
    min-height: 180px;

    .card-img {
      flex-shrink: 0;
      object-fit: cover;
      width: 212px;
      min-height: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .card-title {
      padding-right: $spacer * 3;
      font-size: 1.875rem;
    }

    .card-text {
      .subheading-font {
        font-size: 1.5rem;
        line-height: 1em;
      }
    }

    .favorite-btn-component {
      position: absolute;
      top: $spacer * 1.5;
      right: $spacer;
    }
  }
}

.favorite-btn-component {
  padding: 0;
  width: $spacer * 2;
  height: $spacer * 2;
  border: 0;
  line-height: 0;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}