.component-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacer * 1.5;
  height: $spacer * 3;

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  span {
    @extend .heading-font;
    color: $gray-600;
  }

  @media (max-width: breakpoint-max('sm')) {
    height: $spacer * 2;

    h1 {
      font-size: 1.125rem;
    }

    span {
      font-size: 0.875rem;
    }
  }
}

.ad-component {
  @media (min-width: breakpoint-min('md')) {
    flex-direction: row;

    .card-img {
      object-fit: cover;
      width: 212px;
      height: 180px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .card-title {
      font-size: 1.875rem;
    }

    .card-text {
      .subheading-font {
        font-size: 1.5rem;
        line-height: 1em;
      }
    }
  }
}