.navbar-toggler {
  border: 0;
}

.navbar-light .navbar-nav .nav-link {
  @extend .heading-font;

  display: flex;
  align-items: center;
  padding: 0.75rem $spacer;
  border-radius: $border-radius-sm;
  color: $primary;
  font-size: 0.875rem;
  line-height: 1.5em;

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  &:hover,
  &:focus,
  &.active {
    background-color: $secondary;
    color: $primary;
  }

  svg {
    margin-right: 0.875rem;
    width: 1rem;
    height: 1rem;
  }
}