.pl-main-menu {
  padding-left: calc($spacer * 2 + $main-menu-width);

  @media (max-width: breakpoint-max('md')) {
    padding-left: 0;
  }
}

.heading-font {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

.subheading-font {
  font-family: $headings-font-family;
  font-weight: $subheadings-font-weight;
}