.pl-main-menu {
  padding-left: calc($spacer * 3 + $main-menu-width);

  @media (max-width: breakpoint-max('md')) {
    &:not(.pl-main-menu-md) {
      padding-left: $spacer;
    }
  }

  @media (max-width: breakpoint-max('sm')) {
    padding-left: $spacer;
  }
}

.heading-font {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

.subheading-font {
  font-family: $headings-font-family;
  font-weight: $subheadings-font-weight;
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fs-sm { font-size: 0.875rem; }

.text-gray-500 { color: $gray-500; }
.text-yellow { color: $yellow; }

.shadow-inset { box-shadow: $box-shadow-inset; }