// Colors
$white:               #ffffff;
$primary:             #323EC8;
$secondary:           #EBECFA;

$light:               $white;
$bg-light:            #FAFBFF;
$body-bg:             $bg-light;

// Sizes
$spacer:              1.25rem;
$border-radius:       1rem;
$border-radius-sm:    0.5rem;

// Navbar
$navbar-light-color:                  $primary;
$navbar-light-toggler-border-color:   $primary;

// Utils
$box-shadow:          0px 0px 1.25rem rgba(50, 62, 200, 0.1);

// Sizes
$header-height:       65px;
$main-menu-width:     260px;
$footer-height:       169px;