// Colors
$white:               #ffffff;
$primary:             #323EC8;

$light:               $white;
$bg-light:            #FAFBFF;
$body-bg:             $bg-light;

// Sizes
$border-radius:       16px;

// Navbar
$navbar-light-color:                  $primary;
$navbar-light-toggler-border-color:   $primary;

// Utils
$box-shadow:          0px 0px 20px rgba(50, 62, 200, 0.1);

// Sizes
$header-height:       65px;
$footer-height:       169px;