// Colors
$white:               #ffffff;
$gray-500:            #B2B2B2;
$gray-600:            #666666;
$gray-700:            #485563;

$primary:             #323EC8;
$secondary:           #EBECFA;
$yellow:              #FFB300;

$light:               $white;
$bg-light:            #FAFBFF;
$body-bg:             $bg-light;

// Sizes
$spacer:              1.25rem;
$spacers: (
  0: 0,
  1: $spacer * .5,
  2: $spacer * .75,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 3,
  6: $spacer * 4,
);

$border-radius:       1rem;
$border-radius-sm:    0.5rem;

// Fonts
$font-family-base:                    'SF Pro Text', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family:                'Red Hat Display', sans-serif;
$headings-font-weight:                700;
$subheadings-font-weight:             500;

// Utils
$box-shadow:                          0px 0px 1.25rem rgba(50, 62, 200, 0.1);
$box-shadow-lg:                       0px 0px 0.625rem rgba(50, 62, 200, 0.2);
$box-shadow-inset:                    inset 0px 0px 20px rgba(0, 0, 0, 0.05);

// Grid
$container-padding-x:                 $spacer;

// Navbar
$navbar-light-color:                  $primary;
$navbar-light-toggler-border-color:   $primary;

// Buttons
$btn-border-radius:                   $border-radius-sm;

$btn-padding-y-lg:                    $spacer * 0.75;
$btn-padding-x-lg:                    $spacer * 3.5;
$btn-font-size-lg:                    1.25rem;
$btn-border-radius-lg:                0.5rem;

// Form
$input-bg:                            $white;
$form-select-border-width:            0;
$form-select-border-radius:           $border-radius-sm;
$form-select-focus-box-shadow:        $box-shadow-lg;

// Modals
$modal-content-border-width:          0;
$modal-content-border-radius:         $border-radius;
$modal-content-box-shadow-xs:         $box-shadow-lg;

$modal-header-border-width:           0;
$modal-footer-border-width:           0;

// Sizes
$header-height:                       65px;
$main-menu-width:                     260px;
$footer-height:                       169px;